* {
    box-sizing:border-box;
    transition: all 0.3s ease;

}

a {
    text-decoration: none;
    color: var(--text-color);
}

:root {
    --primary-color: #20b2bd;
    --secondary-color: #1ba89d;
    --tertiary-color: #bcdfe2;
    --quaternary-color: #c6dbd5;
    --highlight-color: #b4e1e3;
    --success-color: #00c251;
    --success-hover-color: #09e263;
    --text-color: #2d2d2d;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

.dark-theme {
    --primary-color: #333333;
    --secondary-color: #3b5a77;
    --tertiary-color: #212931;
    --quaternary-color: #a0a0a0;
    --highlight-color: #646464;
    --success-color: #2c7a32;
    --success-hover-color: #206a24;
    --text-color: #e0e0e0;
    --shadow-color: rgba(0, 0, 0, 0.3);
}



header {
    position: fixed;
    width: 100%;
    height: 100px;
    left: 0;
    top: 0;
    background: var(--primary-color);
    border: 1px solid var(--text-color);
    box-shadow: 0px 4px 10px 1px var(--shadow-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    z-index: 1000;
    padding: 0 20px;
    border-bottom: var(--primary-color);
    box-shadow: var(--primary-color) 10px -8px 10px 15px;
}

header h1 {
    margin-left: 10px;
    cursor: default;
    font-size: 24px;
}

.catalog,
.purchases,
.language,
.sell,
.theme {
    height: 40px;
    background: var(--secondary-color);
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--text-color);
}

.catalog:hover,
.purchases:hover,
.language:hover,
.theme:hover {
    background: var(--tertiary-color);
}

.catalog {
    width: 118px;
}

.purchases {
    width: 155px;
}

.language {
    width: 118px;
}

.language img {
    width: calc(100% - 58px);
    height: auto;
}

.theme {
    width: 5pc;
    height: 40px;
}

.theme img {
    width: 2.2pc;
    height: auto;
};

.sell {
    width: 118px;
    font-size: 1pc;
}

@media (max-width: 1440px) {
    header {
        gap: 15px;
    }

    .catalog {
        width: 100px;
    }


    .purchases {
        width: 150px;
    }

    .language {
        width: 90px;
    }

    .language img {
        width: calc(100% - 38px);
    }

    header h1 {
        font-size: 20px;
    }
}

@media (max-width: 1024px) {
    header {
        gap: 12px;
    }

    .catalog {
        width: 90px;
    }

    .purchases {
        width: 130px;
    }

    .language {
        width: 80px;
    }

    .language img {
        width: calc(100% - 28px);
    }

    header h1 {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    header {
        gap: 10px;
    }

    .catalog {
        width: 80px;
    }

    .purchases {
        width: 100px;
        font-size: 15px;
    }

    .language {
        width: 60px;
    }

    .language img {
        width: calc(100% - 18px);
    }

    header h1 {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 10px 0;
    }

    .catalog,
    .purchases,
    .language,

    header h1 {
        font-size: 16px;
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: lightgray;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

main {
    min-height: 46pc;
    width: 95%;

    background: var(--quaternary-color);
    box-shadow: 0px 4px 10px 1px var(--shadow-color);

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 24px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
    padding: 20px;
    margin-top: 120px;
}

input {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 10px 1px var(--shadow-color);
    font-size: 16px;
    background: linear-gradient(135deg, var(--tertiary-color), var(--quaternary-color));
    margin-top: 10px;
    color: var(--text-color);
}

::placeholder {
    color: var(--text-color);
    opacity: 0.8;
}

.login h1{
    color: var(--text-color);
}


.login{
    height: 40pc;

    min-height: 85%;
    max-width: 500px;
    width: 100%;

    width: 80%;
    height: 40pc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 10px 1px var(--shadow-color);
    font-size: 16px;
    background: linear-gradient(135deg, var(--tertiary-color), var(--quaternary-color));
    margin-top: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

.btn {
    background: linear-gradient(135deg, var(--secondary-color), var(--tertiary-color));
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    border: 1px solid var(--text-color);
    margin: 0 auto;
    margin-top: 10px;
    box-shadow: inset 0px 0px 10px 1px var(--shadow-color);
}

footer {
    bottom: 5px;
    position: fixed;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--text-color);
    width: 100%;
    height:2pc;
    box-shadow: var(--primary-color) -10px 0px 10px 15px;
}