header {
    position: fixed;
    width: 100%;
    height: 100px;
    left: 0;
    top: 0;
    background: #4A4A4A;
    border: 1px solid #000;
    box-shadow: 0px 4px 10px 1px rgba(74, 74, 74, 0.5);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
}

header h1 {
    margin-left: 10px;
    cursor: default;
}

.catalog, .purchases, .language, .currency {
    height: 40px;
    background: #2A3D66;
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.catalog { width: 118px; }
.purchases { width: 155px; }
.language { width: 118px; }
.currency { width: 49px; }

.language img {
    width: calc(100% - 58px);
    height: auto;
}

.search {
    width: 520px;
    height: 36px;
    background: #D9D9D9;
    border-radius: 10px;
    cursor: pointer;
}

@media (max-width: 1440px) {
    header { gap: 15px; }
    .catalog { width: 100px; }
    .search { width: 350px; }
    .purchases { width: 150px; }
    .language { width: 90px; }
    .currency { width: 60px; }
    .language img { width: calc(100% - 38px); }
}

@media (max-width: 768px) {
    header { gap: 10px; }
    .catalog { width: 80px; }
    .search { width: 300px; }
    .purchases { width: 100px; font-size: 15px; }
    .language { width: 60px; }
    .currency { width: 40px; }
    .language img { width: calc(100% - 18px); }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: lightgray;
}

main {
    width: 80%;
    height: 2000px;
    margin-top: 100px;
    background: #B0B0B0;
    box-shadow: 0px 4px 10px 1px rgba(74, 74, 74, 0.5);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 24px;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}

.steamcurr {
    display: none;
    margin-top: 10px;
    background: #2B3B60;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

.buy_sc, .steam_id {
    width: 90%;
    height: 36px;
    margin-bottom: 15px;
    background: #D9D9D9;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 10px;
    box-sizing: border-box;
}

.buyscbtn {
    width: 204px;
    height: 61px;
    background: #34C200;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
}

.total {
    font-size: 20px;
}

.rec-item {
    background-color: #D9D9D9;
    border-radius: 10px;
    width: 45%;
    margin-top: 20px;
    color: #000;
}

.rec-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.rec-item h2 {
    text-align: center;
}

.buy_item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 20px;
}

.buy_btn {
    width: 40%;
    height: 61px;
    background: #34C200;
    color: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
}
